@mixin flex-column ($gap: 0rem) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

main {
  min-height: 100dvh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .form-container {
    @include flex-column(1rem);
    min-width: 350px;
  }

  form {
    @include flex-column(1rem);

    input {
      outline: none;
      border: none;
      padding-inline: 1rem;
      padding-block: 0.75rem;
      border-radius: 0.3rem;
    } 
  }
}